@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Manifold Extended";
  src: url("fonts/Manifold/ManifoldExtendedCF-Bold.woff2") format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: "Manifold Extended";
  src: url("fonts/Manifold/ManifoldExtendedCF-ExtraBold.woff2") format('woff2');
  font-weight: 900;
}

@font-face {
  font-family: "Manifold Extended";
  src: url("fonts/Manifold/ManifoldExtendedCF-Medium.woff2") format('woff2');
  font-weight: normal;
}

@font-face {
  font-family: "RF-Tone";
  src: url("fonts/RF-Tone/RF Tone Regular.otf") format('otf');
  font-weight: normal;
}

:root {
  font-family: "RF-Tone", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  cursor: none;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: "Manifold Extended", sans-serif;
  font-weight: bold;
}
p {
  font-size: 20px;
}